{% extends "base.html" %}
{% block content %}
{% if error != None %}
  <div class="alert alert-danger" role="alert">{{ error }}</div>
{% endif %}
{% for item in all_info %}
<div class="panel panel-default">
  <div class="panel-body">
   <div class="col-xs-6 col-md-3">
    <a href="/containers/host-id={{ item['id'] }}?stats=running" class="thumbnail">
      <img src="static/container-running.png" alt="Running Containers" width="100" height="100">
    </a>
    <div class="caption">
    	<h3> Running Containers</h3>
    	<h5> Running: {{ item['cout_run'] }}</h5>
    </div>
   
  </div>
  <div class="col-xs-6 col-md-3">
      <a href="/containers/{{ item['id'] }}" class="thumbnail">
      <img src="static/all-container.png" alt="All Containers" width="100" height="100">
    </a>
     <div class="caption">
    	<h3> All Containers</h3>
    	<h5> All: {{ item['count_all_containers'] }}</h5>
    </div>
    </div>
   <div class="col-xs-6 col-md-3">
   <a href="/images/{{ item['id'] }}" class="thumbnail">
      <img src="static/docker-images.png" alt="Images" width="100" height="100">
    </a>
     <div class="caption">
    	<h3> Images</h3>
    	<h5> Images Downloaded: {{ item['count_images'] }}</h5>
    </div>
    </div>
    {% if item['status'] == 'OK' %}
    <div class="col-xs-6 col-md-3">
      <h4>Docker Version: {{ item['version']}} </h4>
      <h4>OS: {{ item['OS']}}</h4>
      <h4>Ram: {{ item['Ram']|filesizeformat }}</h4>
      <h4>CPU: {{ item['cpu']}} cores</h4>
      <h4>Kernel Version: {{ item['kernel']}}</h4>
      <h4></h4>
      <div style="padding-left: 24%;">
            <a href="/info?id={{ item['id'] }}" role="button" class="btn btn-primary">More Info</a>
            <a href="/remove?id={{ item['id'] }}" role="button" class="btn btn-danger">Remove</a>
      </div>                
    </div>
    {% else %}
    <div class="col-xs-6 col-md-3">
      <h4>ID: {{ item['id'] }}</h4>
      <h4>Host: {{ item['host'] }}</h4>
      <h4>Port: {{ item['port'] }}</h4>
      <h4>Status: {{ item['status'] }}</h4>
       <div style="padding-left: 44%;">
          <a href="/remove?id={{ item['id'] }}" role="button" class="btn btn-danger">Remove</a>
      </div>           
    </div>
    {% endif %}
  </div>
</div>
{% endfor %}  


<form method="POST" action="/">

   <div class="container">

  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Host</button>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"></span>
          <input name='host' type="text" class="form-control" placeholder="Hostname,IP" aria-describedby="basic-addon1">
      </div>

      <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"></span>
          <input name='port' type="text" class="form-control" placeholder="Port" aria-describedby="basic-addon1">
      </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-default" >Add</button>
        </div>
      </div>
      
    </div>
  </div>

</form>


{% endblock %}